language = "python3"
run = "python app.py"
modules = ["web", "python-3.11"]

[nix]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5002
externalPort = 3000

[[ports]]
localPort = 5003
externalPort = 3002

[[ports]]
localPort = 5008
externalPort = 3001

[[ports]]
localPort = 6000
externalPort = 6000
