language = "python3"
run = "python app.py"
modules = ["web", "python-3.11"]

[nix]
packages = ["lsof"]
channel = "stable-24_05"

[[ports]]
localPort = 2020
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[deployment]
run = ["sh", "-c", "python app.py"]
