<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:4px;">
  <div class="col-10">
    <h4 
      style="color:rgb(120,120,120); margin-bottom:8px;">
      {{project["project name"]}}
    </h4>
    {% if "project content" in project %}
    <div>
      <b>Project Content:</b> {{project["project content"]}}
    </div>
    {% endif %}
  </div>
  <div class="col-2 padding-right:16px">
    <a href="https://github.com/BayramUysalBey/zombie-survival-oop" type="button" class="btn btn-outline-primary float-right align-middle">Look Inside</a>
  </div>
</div>